body {
    margin: 0;
    font-family: Arial;
}

h1, h2, a, table {
    color: #383838;
}

h2 {
    margin-top: 0;
}

p, .mounth {
    color: #5D5D5D;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 92px;
}

#june .event:last-of-type p {
    height: 74px;
}

.main_nav {
    padding: 30px;
    margin: 0 auto;
}

.main_nav img {
    position: relative;
    bottom: 10px;
}

a {
    text-decoration: none;
    color: #383838;
}

.nav_link {
    padding: 30px 15px 28px 15px;
    font-size: large;
}

.nav_link:hover, .inner-nav a:hover {
    border-bottom: 4px solid #4F7DB8;
    color: #4F7DB8;
}

.main_head, .main_nav, .inner-nav {
    text-align: center;
}

.main_nav, .inner-nav {
    border-bottom: 1px solid #E7E7E7;
}

.main_head h1 {
    margin: 100px;
    font-size: 60px;
    font-weight: 900;
}

.inner-nav ul {
    margin: 30px;
}

.inner-nav li {
    list-style-type: none;
    display: inline;
}

.inner-nav a {
    margin: 20px;
    padding-bottom: 28px;
}

.choose-date {
    margin-left: 40px;
}

.inner-nav img {
    height: 24px;
    width: auto;
}

.all-events {
    background: #F8F8FA;
    margin: 0 auto;
}

.mounth {
    margin: 0 auto;
    text-align: center;
    padding: 70px;
}

.event {
    margin: 0 auto;
    margin-top: 15px;
    width: 900px;
    padding: 10px;
    display: block;
    background: white;
    padding: 0;
}

.event img {
    width: 250px;
    height: 250px;
}

.event:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
    float: left;
}

.about {
    float: left;
    padding: 40px 40px 2px 40px;
    width: 300px;
    border-right: 1px solid #E7E7E7;
}

.date {
    padding: 48px 10px 40px 670px;
}

.date img, .about img {
    height: 30px;
    width: auto;
}

.icon {
    text-align: center;
    width: 50px;
}

button {
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    margin: 10px 0 0 12px;
    padding: 10px 40px 10px 40px;
}

.other-month img {
    height: 17px;
    width: 17px;
}

.cities {
    text-align: center;
    padding: 50px;
}

.cities a {
    padding: 0 100px 0 100px;
    font-weight: bold;
}

footer {
    margin: 0 auto;
    background: black;
    text-align: center;
}

footer div {
    padding: 40px 0 40px 0;
}

footer a:nth-child(1) img, a:nth-child(2) img {
    background: white;
    height: 30px;
    width: auto;

}

footer select {
    color: white;
    background: black;
    border: none;
    border-left: 1px solid white;

}

footer p {
    color: white;
    display: inline;
}

footer a {
    position: relative;
    padding-right: 40px;
}

footer a:last-of-type {
    padding: 0 300px 0 300px;
}

footer a img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}