/* 

please don't edit this styles

*/


a:focus{color:#666;outline:0}ul{padding:0;margin:0}body{background-color:#f2f2f2;color:#000;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300;padding-top:30px;overflow-x:hidden}.box,.tm-content-box,.tm-main-nav{background-color:#fff}.tm-sidebar{position:fixed;width:360px}.tm-main-nav{font-size:1.6667em;padding-top:15px;padding-bottom:10px;text-align:center}.tm-nav-item{list-style:none;width:100%;padding:15px 30px}.tm-nav-item-link{border:1px solid transparent;color:#666;display:block;padding:10px;width:100%;-webkit-transition:all .3s ease;transition:all .3s ease}.carousel-indicators li,.tm-banner-inner{border:1px solid #999}.flex-2-col,.tm-banner-inner{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox}.tm-nav-item-link.active,.tm-nav-item-link:hover{color:#666;text-decoration:none;border:1px solid #999}.tm-nav-item-link:focus{text-decoration:none}.tm-banner-text,.tm-banner-title,.tm-section-title{color:#666;font-weight:300;margin-top:0}.tm-section-title{margin-bottom:20px}.tm-section-title-box{margin-bottom:0}.tm-banner-title{font-size:3.3em;letter-spacing:2px;text-transform:uppercase}.tm-main-content{margin-left:360px;padding-left:30px}.tm-content-box{margin-bottom:30px}.pad{padding:50px}.tm-banner{height:370px;padding:30px}.tm-banner-inner{height:100%;text-align:center;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.tm-banner-text{font-size:1.4em}.flex-2-col{display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.boxes,.tm-box-bg-title{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox}.flex-item{-webkit-box-flex:0 1 auto;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto}.section-description{line-height:1.8;margin-bottom:25px}.section-description:last-child{margin-bottom:0}.tm-team-description-container{max-width:500px}.box{list-style:none;width:33.3333%;height:auto}.box-bg{position:relative}.tm-box-bg-title{position:absolute;top:0;right:0;bottom:0;left:0;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.boxes{display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.gallery-container a{cursor:-webkit-zoom-in;cursor:zoom-in}.carousel{position:relative;height:auto;padding:50px 50px 80px;text-align:center}.carousel-indicators{bottom:30px}.carousel-content{color:#000;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.carousel-indicators .active{background-color:#999}.contact-form{overflow:hidden}.form-control{border-radius:0;font-size:1em}.form-control:focus{border-color:#999;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(153,153,153,.45)}.form-group{margin-bottom:20px}.form-group-2-col-left{padding-left:0;padding-right:5px}.form-group-2-col-right{padding-right:0;padding-left:5px}.submit-btn{border-radius:0;background:0 0;border:1px solid #999;color:#999;float:right;font-size:1.4em;font-weight:300;padding:15px 60px;-webkit-transition:all .3s ease;transition:all .3s ease}.submit-btn:active,.submit-btn:active:focus,.submit-btn:active:hover,.submit-btn:focus,.submit-btn:hover,.submit-btn:visited{background:#999;border:1px solid #999;color:#fff}.tm-footer{color:#666;padding-bottom:15px}

/*
Task 1. Making print version like in picture
 */
@media print {
    div.tm-sidebar {
        display: none;
    }

    .tm-main-content {
        margin: auto;
    }

    .tm-banner {
        height: 240px;
    }

    .tm-content-box {
        padding: 20px;
        margin-bottom: 0px;
    }

    .flex-2-col {
        display: unset;
    }

    .flex-item {
        text-align: center;
        margin-bottom: 150px;
    }

    .tm-team-description-container {
        margin: auto;
        max-width: 560px;
        max-height: none;
        padding: 0px;
        text-align: unset;

    }

    .text-xs-center {
        margin: auto;
    }

    .tm-footer {
        position: fixed;
        bottom: 0px;
        margin-left: 140px;
        margin-bottom: 110px;
    }
    p.text-xs-center{
        text-align: center;
    }

}

@media screen {
    /*
    Task 2. From 2 px inside border to 1px
     */

    .box li:first-child,.box li:nth-child(2),.box li:nth-child(4),.box li:nth-child(5){
        border-right-width: 0 !important;
        border-bottom-width: 0 !important;

    }
    .box li:nth-child(3),.box li:nth-child(6) {
        border-bottom-width: 0 !important;
    }
    .box li:nth-child(7),.box li:nth-child(8) {
        border-right-width: 0 !important;
    }



    /*
    Task 3. Changing of first letter in each paragraphs
     */
    p::first-letter {
        font-size: 30px;
        color: #76cdd7;
    }

    /*
    Task 4. Adding shadow to each content box and sidebar
     */
    .tm-sidebar, .tm-content-box, section.blocks .tm-team-description-container {
        box-shadow: 1px 1px 6px 6px #888888;
    }

    section.blocks div.tm-content-box.flex-2-col {
        box-shadow: none;
    }

    /*
    Task 5. Adding border to img which in <a> tag in gallery container
     */
    .gallery-container a img {
        border: 2px solid silver;
    }

    /*
    Task 6. Changing of "How we do it"
     */
    .carousel-item h2 {
        color: gainsboro;
        letter-spacing: 5px;
    }

    /*
    Task 7. Each first paragraphs which placed after <h2> tag have italic font
     */
    h2 + p:first-of-type {
        font-style: italic;
    }

    /*
    Task 8. Vertical space between lines is increased, there is some free space at start of first line
     */
    p {
        line-height: 200%;
        text-indent: 25px;
    }

    p.tm-banner-text {
        line-height: normal;
        text-indent: unset;
    }

    /*
    Task 9.Visited links become silver color
     */
    a:visited {
        color: silver;
    }
    .text::after{
        content: 'New';
        color: red;
        font-size: 10px;
        position: absolute;
    }

    /*
    Task 10. Adding layout and styles for
     */
    ul.boxes p {
        line-height: normal;
        text-indent: unset;

    }
    ul.boxes p::first-letter {
        color: black;
    }

    section.blocks .box-bg {
        background: #d4d4d4;
    }

    /*
    Task 11. Adding silver border on the bottom side of all list item
     */
    .tm-main-nav li {
        border-bottom: 1px solid silver;
    }

    .tm-main-nav li:last-of-type {
        border-bottom: none;
    }

    /*
    Task 12. Changing of text color in text input and submit button to red
     */
    input[type=text], .submit-btn {
        color: red;
    }
}

/*
Task 13. Making of nav bar
 */
@media screen and (min-width: 1140px) and (min-height: 835px){
    .tm-sidebar {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .tm-main-nav{
        padding-top: 0;
        padding-bottom: 0;
    }

    .tm-main-nav ul li {
        display: inline-block;
        width: 20%;
        border-bottom: none;
        border-right: 1px solid silver;
    }
    .tm-main-nav ul li:first-of-type{
        border-left: 1px solid silver;
    }

    .tm-main-content {
        margin: 0 180px 0 180px;
        padding: 100px 15px 0 15px;
    }
}
